
@{
    ViewBag.Title = "Admin";
}

<br />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Admin page</h1>
        <p class="lead">Welcome back to this amazing page!!!</p>
    </div>
</div>